[submodule "definitions/CentOS-6.5-x86_64-omerodevbase/ome-sysadmin-scripts"]
	path = definitions/CentOS-6.5-x86_64-omerodevbase/ome-sysadmin-scripts
	url = https://github.com/manics/ome-sysadmin-scripts.git
